    /*===== GOOGLE FONTS =====*/
    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');
    @font-face {
        font-family: "arshad";
        src: url('../font/High_Jersey.otf');
    }
    /*===== VARIABLES CSS =====*/
    
     :root {
        --header-height: 3rem;
        /*===== Colors =====*/
        --first-color: #3E0E12;
        --first-color-dark: #2F0A0D;
        --text-color: #524748;
        --first-color-light: #7B6F71;
        --first-color-lighten: #FBF9F9;
        /*===== Font and typography =====*/
        --font: 'Poppins', sans-serif;
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
        /*===== Font weight =====*/
        --font-medium: 500;
        --font-semi-bold: 600;
        --font-bold: 700;
        /* ===== margin's ===== */
        --mb-1: .5rem;
        --mb-2: 1rem;
        --mb-3: 1.5rem;
        --mb-4: 2rem;
        --mb-5: 2.5rem;
        --mb-6: 3rem;
        /*===== z index =====*/
        --z-normal: 1;
        --z-tooltip: 10;
        --z-fixed: 100;
    }
    
    @media screen and (min-width: 768px) {
         :root {
            --biggest-font-size: 3rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;
        }
    }
    /*===== BASE =====*/
    
    *,
     ::before,
     ::after {
        box-sizing: border-box;
    }
    
    body {
        margin: 0%;
        font-family: var(--font);
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        background-color: var(--first-color-lighten);
        color: var(--text-color);
        overflow-x: hidden;
    }
    
    h1,
    h2,
    h3,
    h4,
    ul,
    p {
        margin: 0;
    }
    
    h2,
    h3 {
        font-weight: var(--font-semi-bold);
    }
    
    ul {
        padding: 0;
        list-style: none;
    }
    
    a {
        text-decoration: none;
        display: block;
    }
    
    button {
        cursor: pointer;
        border: none;
        outline: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    /* CLASS CSS  */
    
    .section {
        padding: 4rem 1rem;
    }
    
    .section_title,
    .section_subtitle {
        text-align: center;
    }
    
    .section_title {
        font-size: var(--h1-font-size);
        color: var(--first-color);
        margin-bottom: var(--mb-4);
    }
    
    .section_subtitle {
        display: block;
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
    }
    /* LAYOUT CLASS  */
    
    .inner {
        max-width: 1200px;
        margin: auto;
    }
    
    .flex_between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .flex_around {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    /* SCROLL TOP  */
    
    .scroll-top {
        position: fixed;
        bottom: 0.8rem;
        right: 1rem;
        background-color: var(--first-color-light);
        padding: 0.5rem;
        color: var(--first-color-lighten);
        border-radius: 0.5rem;
        z-index: var(--z-tooltip);
        display: none;
    }
    
    .scroll-top-show {
        transition: all 0.5s linear;
        visibility: visible;
    }
    /* NAVIGATION START  */
    
    .navigation {
        width: 100%;
        background-color: black;
        position: fixed;
        padding: 0.5rem;
        z-index: var(--z-fixed);
        box-shadow: 20px 3px 20px 0px #3e0e124d;
    }
    
    .logo {
        width: 20%;
    }
    
    .nav_logo {
        font-family: "arshad";
        color: var(--first-color-lighten);
        font-size: 2rem;
    }
    
    .nav_menu {
        width: 75%;
    }
    
    .menu_link {
        color: var(--first-color-lighten);
        position: relative;
    }
    
    .menu_link::after {
        content: "";
        display: block;
        position: absolute;
        top: 34px;
        width: 100%;
        height: 5px;
        background-color: white;
        transition: all 0.3s;
        transform: scaleX(0);
        transform-origin: left;
    }
    
    .menu_link:hover::after {
        transform: scaleX(1);
        transform-origin: right;
    }
    /* .menu_link:hover {
      color: var(--first-color-light);
    } */
    
    .toggle {
        display: none;
        color: var(--first-color-lighten);
        cursor: pointer;
    }
    /* HERO SECTION  S*/
    
    .hero_section {
        padding: 0px 1rem;
        width: 100%;
        background-color: var(--first-color-dark);
        background-color: black;
    }
    
    .hero_content {
        height: 800px;
        position: relative;
    }
    
    .hero_info {
        width: 50%;
    }
    
    .hero-text {
        color: var(--first-color-lighten);
        padding-left: 2rem;
        border-left: 5px solid;
    }
    
    .hero-text h3 {
        font-size: var(--h2-font-size);
    }
    
    .hero-text h1 {
        font-size: var(--biggest-font-size);
        margin: 1rem 0rem;
    }
    
    .hero-text h2 {
        font-size: var(--h3-font-size);
    }
    
    .btn {
        margin-top: var(--mb-3);
        padding: 0.70rem 1.2rem;
        font-size: var(--normal-font-size);
        background-color: var(--first-color-light);
        color: var(--first-color-lighten);
        cursor: pointer;
        font-family: var(--font);
        border-radius: 0.4rem;
        font-weight: var(--font-bold);
        transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        position: relative;
        display: inline-block;
    }
    
    .btn:hover {
        background-color: #524547;
    }
    
    .hero-social {
        margin-top: var(--mb-5);
        width: 50%;
    }
    
    .h_social_icons {
        color: var(--first-color-lighten);
        transition: all 0.2s ease-in-out;
    }
    
    .h_social_icons:hover {
        color: var(--first-color-light);
    }
    
    .hero_img {
        width: 50%;
        position: absolute;
        bottom: 0rem;
        right: 0rem;
    }
    
    .hero_img img {
        width: 650px;
    }
    /* HERO SECTION  C*/
    /* ABOUT SECTION S  */
    
    .about_info {
        width: 50%;
        flex-direction: column;
        align-items: center;
    }
    
    .about_title {
        color: var(--first-color-dark);
    }
    
    .about_img {
        width: 50%;
        justify-content: center;
    }
    
    .about_img img {
        width: 60%;
        border-radius: 0.7rem;
    }
    
    .about_data {
        text-align: center;
        margin-top: 0.8rem;
    }
    
    .about_data h3 {
        font-size: var(--h1-font-size);
        color: var(--first-color);
    }
    
    .about_data span {
        font-size: var(--h3-font-size);
    }
    /* ABOUT SECTION C  */
    /* Qualification SECTION S  */
    
    .qualification_section {
        margin-top: 4rem;
    }
    
    .qualification_container {
        align-items: flex-start;
    }
    
    .Work_title {
        width: 45%;
    }
    
    .Work_title h1 {
        color: var(--first-color);
        font-size: var(--h2-font-size);
    }
    
    .qualification_data {
        margin: 2rem 0rem;
    }
    
    .qualification_data h2 {
        font-size: var(--normal-font-size);
        color: var(--first-color);
    }
    
    .qualification_box {
        border-bottom: 1px solid #ccc;
    }
    
    .qualification_box h4 {
        font-size: var(--smaller-font-size);
        color: var(--first-color-light);
        margin: 0.5rem 0rem;
    }
    /* Qualification SECTION C  */
    /* SERVICES SECTION S  */
    
    .service_boxes {
        margin-top: 4rem;
    }
    
    .service_box {
        width: 31%;
        background-color: #fff;
        padding: 3rem 2rem;
        text-align: center;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(172, 141, 141, 0.336);
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        cursor: pointer;
    }
    
    .service_box:hover {
        transform: translateY(-50px);
        box-shadow: 0 8px 15px rgba(172, 141, 141, 0.336);
    }
    
    .service_title {
        color: var(--first-color);
        margin: var(--mb-1) auto;
        font-size: var(--h3-font-size);
    }
    
    .service_icon {
        margin-bottom: var(--mb-1);
        display: block;
        font-size: var(--biggest-font-size);
    }
    
    .service_txt {
        margin-bottom: var(--mb-2);
        font-size: var(--small-font-size);
    }
    
    .btn2 {
        padding: 0.8rem 1.2rem;
        font-size: var(--normal-font-size);
        background-color: var(--first-color-dark);
        color: var(--first-color-lighten);
        border: none;
        outline: none;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 0.2s;
    }
    
    .btn2:focus {
        transform: scale(0.9);
        background-color: #252222;
    }
    /* SERVICES SECTION C  */
    /* PROJECTS SECTION S  */
    
    .project_tumbling {
        background-color: var(--first-color-dark);
        color: var(--first-color-lighten);
        padding: 3.5rem 3.2rem;
        border-radius: 0.8rem;
    }
    
    .project_icon {
        font-size: 4.5rem;
    }
    
    .project_data {
        text-align: center;
    }
    
    .hire_btn {
        padding: 0.8rem 1rem;
        background-color: var(--first-color-lighten);
        color: var(--first-color-dark);
        border-radius: 0.3rem;
    }
    /* PROJECTS SECTION C  */
    /*  PORTFOLIO SECTION S  */
    
    .portfolio_card_container {
        justify-content: space-around;
    }
    
    .portfolio_nav {
        width: 40%;
        margin: var(--mb-5) auto;
    }
    
    .portfolio_item {
        padding: 0.4rem 0.8rem;
        margin: 0.2rem 0.4rem;
        background-color: #8d7373;
        color: #fff;
        border-radius: 0.5rem;
        cursor: pointer;
    }
    
    .portfolio_active {
        background-color: rgb(0, 0, 0);
    }
    
    .portfolio_item:hover {
        background-color: #000000;
    }
    
    .portfolio_card {
        width: 32%;
        height: 500px;
        background-color: #fff;
        border-radius: 0.8rem;
        overflow: hidden;
        box-shadow: 0 4px 15px rgb(172, 190, 205);
        margin: 0.5rem 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .card_info {
        padding: 0.8rem;
    }
    
    .card_description {
        font-size: var(--normal-font-size);
        color: var(--first-color-dark);
        margin: var(--mb-2) 0px;
    }
    
    .card_link {
        background-color: var(--first-color);
        width: 140px;
        color: white;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    .card_link i {
        margin-left: 7px;
    }
    /*  PORTFOLIO SECTION C  */
    /*  TESTIMONIAL SECTION S  */
    
    .testimonial_card {
        width: 35%;
        background-color: white;
        text-align: center;
        color: var(--first-color-dark);
        padding: 1rem;
        margin: 1rem 0;
        /* border-radius: 0.5rem; */
        box-shadow: 0 4px 6px rgba(172, 141, 141, 0.336);
    }
    
    .testimonial_card span {
        color: var(--text-color);
    }
    
    .testimonial_img {
        margin: var(--mb-1) auto;
        width: 80px;
        height: 80px;
        /* border-radius: 50%; */
    }
    
    .testimonial_dec {
        margin: var(--mb-2) 0px;
    }
    
    .swiper-pagination {
        position: initial;
    }
    
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: var(--first-color);
    }
    /*  TESTIMONIAL SECTION C  */
    /*   CONTACT SECTION S  */
    
    .contact_box {
        min-width: 21%;
        /* height: 200px; */
        text-align: center;
        padding: 1rem;
        border-radius: 0.5rem;
        background-color: #fff;
        box-shadow: 0 4px 5px rgba(172, 190, 205, 0.3);
        cursor: pointer;
    }
    
    .contact_box:hover {
        box-shadow: 0 4px 5px rgba(172, 190, 205, 1);
    }
    
    .contact_icons,
    .contact_box_title {
        color: var(--first-color-dark);
    }
    
    .contact_dec {
        font-size: var(--smaller-font-size);
    }
    
    .contact_form {
        width: 60%;
        margin-top: var(--mb-5);
    }
    
    .Form_Mess {
        margin: 110px 0px;
        text-align: center;
        font-size: 2.2rem;
    }
    
    .spinner-border {
        width: 3.5rem;
        height: 3.5rem;
    }
    
    .my_input {
        width: 49.5%;
        padding: 0.7rem 0.4rem;
        margin: var(--mb-1) 0px;
        border-radius: 0.3rem;
        border: 2px solid var(--first-color-dark);
        font-family: inherit;
        font-size: var(--normal-font-size);
        color: var(--first-color-dark);
    }
    
    textarea {
        font-family: inherit;
        font-size: var(--normal-font-size);
        color: var(--first-color-dark);
        border-radius: 0.3rem;
        border: 2px solid var(--first-color-dark);
        width: 100%;
        padding: 0.7rem;
    }
    
     ::placeholder {
        color: var(--first-color-dark);
    }
    /*   CONTACT SECTION C  */
    /*   FOOTER SECTION S  */
    
    footer {
        width: 100%;
        background-color: var(--first-color-dark);
        color: var(--first-color-lighten);
        text-align: center;
        padding: var(--mb-6) 0px;
    }
    
    .footer_icons {
        margin: var(--mb-3) auto;
        width: 20%;
    }
    
    .footer_icons a {
        color: var(--first-color-lighten);
    }
    
    .copyright_txt {
        color: var(--text-color);
        font-size: var(--small-font-size);
        margin-top: var(--mb-6);
    }
    /*   FOOTER SECTION C  */
    /* MEDIA QUERY START  */
    
    @media screen and (max-width:850px) {
        .service_boxes {
            justify-content: space-around;
        }
        .service_box {
            width: 45%;
            margin-bottom: var(--mb-5);
        }
        .project_tumbling {
            justify-content: space-around;
        }
        .project_icon {
            width: 30%;
        }
        .project_data {
            width: 70%;
        }
        .project_data h1 {
            font-size: var(--h1-font-size);
        }
        .project_data span {
            font-size: var(--small-font-size);
        }
        .hire_btn {
            margin-top: var(--mb-5);
        }
        .portfolio_nav {
            width: 60%;
        }
        .portfolio_card {
            width: 48%;
        }
        .contact_form {
            width: 80%;
        }
        .contact_box {
            width: 45%;
            margin: var(--mb-1);
        }
    }
    
    @media screen and (max-width:768px) {
        .logo {
            width: 50%;
        }
        .nav_menu {
            overflow: hidden;
            display: block;
            position: fixed;
            top: 3.3rem;
            left: 0rem;
            width: 100%;
            height: 0px;
            background-color: #000000;
            border-radius: 0 0 1rem 1rem;
            box-shadow: 0px 20px 20px 0px #3e0e124d;
            transition: all 0.5s;
        }
        .show {
            height: 350px;
        }
        .menu_lists {
            display: flex;
            justify-content: space-around !important;
            flex-direction: column;
        }
        .menu_item {
            padding: 1rem 0rem;
        }
        .menu_link {
            color: var(--first-color-lighten);
        }
        .toggle {
            display: block;
        }
        .hero-social {
            width: 50%;
        }
    }
    
    @media screen and (max-width:650px) {
        .Work_title {
            width: 100%;
        }
        .my_input {
            width: 100%;
        }
        .contact_box {
            word-wrap: break-word;
            width: 100%;
        }
    }
    
    @media screen and (max-width: 570px) {
        .hero-text {
            width: 100%;
        }
        .hero_info {
            width: 100%;
        }
        .hero_img {
            width: 80%;
        }
        .hero-social {
            width: 20%;
            flex-direction: column;
            height: 150px;
        }
        .about_img,
        .about_info {
            width: 100%;
            text-align: center;
        }
        .about_img img {
            width: 80%;
            margin-top: 0.8rem;
        }
        .about_data {
            margin-top: 1.2rem;
        }
        .project_icon,
        .project_data {
            text-align: center;
            width: 100%;
        }
        .service_box {
            width: 100%;
        }
        .portfolio_card_container {
            justify-content: center;
        }
        .portfolio_card {
            width: 80%;
            min-height: 100px;
        }
        .portfolio_nav {
            width: 90%;
        }
        .footer_icons {
            width: 50%;
        }
    }
    
    @media screen and (max-width:380px) {
        .hero_img {
            width: 88%;
        }
        .hero-social {
            width: 10%;
        }
        .logo {
            width: 80%;
        }
        .portfolio_card {
            width: 100%;
            min-height: 100px;
        }
        .portfolio_nav {
            width: 100%;
            justify-content: space-around;
        }
    }
    /* MEDIA QUERY COMPLETE  */
    /* LINK ACTIVE CLASS S  */
    
    .active {
        position: relative;
    }
    
    .active::before {
        content: "";
        display: block;
        position: absolute;
        top: 34px;
        width: 100%;
        height: 5px;
        background-color: white;
    }
    /* LINK ACTIVE CLASS C  */
    
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 2px;
    }
    
    .swiper-pagination-bullet-active {
        background-color: #8a1616;
        transition: 0.1s;
        width: 20px;
        border-radius: 0.5rem;
    }
    /* NAVIGATION SCROLL CLASSES START */
    
    .bgChange {
        background-color: white;
        /* transition: all 0.5s; */
    }
    
    .bgChange a,
    .bgChange .toggle {
        color: var(--first-color);
    }
    
    .bgChange .active::before {
        background-color: var(--first-color);
    }
    
    .bgChange .menu_link::after {
        background-color: var(--first-color);
    }
    /* NAVIGATION SCROLL CLASSES COMPLETE */
    /* PRELOADER  */
    
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        z-index: 999;
        transition: all 0.3s linear;
        overflow: hidden;
    }
    
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    
    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background: rgb(0, 0, 0);
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    
    .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }
    
    .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }
    
    .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
    
    @keyframes lds-facebook {
        0% {
            top: 8px;
            height: 64px;
        }
        50%,
        100% {
            top: 24px;
            height: 32px;
        }
    }
    /* FORM LOADER  */
    
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid rgb(0, 0, 0);
        border-color: rgb(0, 0, 0) transparent rgb(0, 0, 0) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }